.instructionsPage {
    background-color: #ead2ef;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.instructionsMain {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.instructionsPage h1 {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.instructions {
    border-radius: 1rem;
    width: 100%;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: white;
    padding: 1rem;
}

.instructionsBottom {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.instructionsBottom button {
    font-size: larger;
    padding: 0.5rem;
    background-color: #cd90d9;
    border-radius: 0.5rem;
}


/*quizPage css*/

.questionNumberBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 5%;
    padding: 1rem;
    background-color: #ead2ef;
    border-radius: 1rem;
}

.questionNumberBar button {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #cd90d9;
    border-radius: 0.5rem;
}

.questionNumberBar button:hover {
    background-color: #e47bde;
}

.questionNumberBar button:active {
    background-color: #b85dbf;
}

.quizPage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.5rem 0 1.5rem;
    gap: 15px;
}

.quizPageTop {
    background-color: #ead2ef;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: 40px;
}

.warningCounter {
    font-size: 40px;
    color: red;
}

.timer {
    font-size: 40px;
}

.quizPageMain {
    background-color: #ead2ef;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    padding: 20px;
}

.quizPageMain h1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 40px;
    width: 57%;
    padding: 20px;
    border-radius: 10px;
}

.quizPageMain h1 span {
    font-size: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 38%;
    padding: 20px;
    border-radius: 10px;
}

.options label {
    font-size: 30px;
    background-color: #cd90d9;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
}

.options label input {
    margin-right: 10px;
}

.options label:hover {
    background-color: #e47bde;
}

.options label:active {
    background-color: #b85dbf;
}

.quizPageBottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    /* padding: 0 20px 0 20px; */
    padding: 10px;
    background-color: #ead2ef;
    border-radius: 10px;
}

.quizPageBottom button {
    font-size: larger;
    padding: 10px;
    background-color: #cd90d9;
    border-radius: 5px;
}

.quizPageBottom button:hover {
    background-color: #e47bde;
}

.quizPageBottom button:active {
    background-color: #b85dbf;
}