/* TeacherBatches.module.css */

.teacher-batches {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 20px;
  background-color: #f4f4f9;
  min-height: 100vh;
}

.teacher-batches__heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.teacher-batches__select {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

.teacher-batches__select:hover {
  border-color: #4caf50;
}

.teacher-batches__select:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.teacher-batches__option {
  padding: 10px;
}

.teacher-batches__details {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
}

.teacher-batches__details p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

/* Teacher_BatchDetails.module.css */

.batch-details__students-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.batch-details__students-table th,
.batch-details__students-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.batch-details__students-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.batch-details__students-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.batch-details__students-table tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .teacher-batches__select {
    width: 100%;
  }

  .teacher-batches__details {
    max-width: 100%;
  }
}